picture {
    display: block;
    margin-left: 30rem;
}
img {
    height: 400px;
    width: 300px;
    border-radius: 0 0 10px 10px;
    border: 5px solid black;
}

/*picture img[data-src] {
  filter: blur(0.2em);
}*/  
picture img {
    filter: blur(0em);
    transition: filter 0.5s;
  }