@import url('https://fonts.googleapis.com/css2?family=Patua+One&family=Roboto:wght@300&display=swap');

/*
--Primary-color -- #2B4560
--Secundary color -- white
--Auxiliary Color (if needed) -- #6AA4B0
--Background color -- #E1E7E0
*/

body {
	max-width: 960px;
	margin: 0 auto;
}
main.main-grid {
    margin-left: 2vw;
}

nav button {
    margin: 0;
    background: transparent;
    border: none;
    font-size: 2rem;
}

nav ul{
    list-style-type: none;
}

nav ul li a {
    color: #2B4560;
    font-family: 'Patua One', cursive;
    font-size: 1rem;
    display: block;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
    border-top: 1px solid rgba(0, 0, 0, 0.5);

    
}


body {
    background-color:#E1E7E0;
    
}

h1 {
    color: #2B4560;
    font-family: 'Patua One', cursive;

}
h2 {
    color: #2B4560;
    font-family: 'Roboto', cursive;

}

footer{
    background-color: #2B4560;
    color: white;
    text-align: center;
    font-size: 1rem;
}

ul{
    padding: 0px;  
}


nav{
    background-color: #E1E7E0;
}

nav ul li.active a {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

nav ul li a:hover {
    background-color: #6AA4B0;
    color: white;
}


/*hamburger button appears and hides*/
nav ul {display: none;}
nav ul.open {display: block;}

#hamburgerBtn span:nth-child(1) {display: block;}
#hamburgerBtn span:nth-child(2) {display: none;}

#hamburgerBtn.open span:nth-child(1) {display: none;}
#hamburgerBtn.open span:nth-child(2) {display: block;}


/* Social icons*/
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}
.fa:hover {
opacity: 0.7;
}
.fa-facebook {
background: #3B5998;
color: white;


}
.fa-linkedin {
background: #007bb5;
color: white;
}

.social-icons {
    display: flex;
    margin-left: 2vw;
}

/*Navigation*/
.top-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.brand {
    display: flex;
    font-size: 0.7rem;
    margin-left: -20px;
}
.perchamb {
    margin-left: -30px;
    margin-top: 16px;
}

.social-icons {
    grid-column: 2/3;
    grid-row: 1/2;
    max-width: 10%;
    max-width: 10%;

}

.nav-links {
    grid-column: 4/5;
    margin-left: -100px;
    margin-top: 10px;
}

.date {
    grid-row: 2;
}



/*SECTIONS*/
.sections {
    /*background-color: #2B4560;*/
    display: grid;
    grid-template-rows: repeat(7, 300px);
    gap: 10px; 
    margin-top: 60px;
} 
.sections > *{
    background-color: #6AA4B0;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 200px;
}
.hero-and-call {
    grid-row: 1/2;
}
.footer-grid {
    grid-row: span 2;
    flex-wrap: wrap;
    flex-direction: column;
    
}
.footer-grid > * {
    padding: 10px;
    display: flex;
    justify-content: center;
}




/*FORM*/
form {
	max-width: 100%;
	margin: 1rem;
	border: 1px solid #bbb;
	padding: 0.5rem;
	background-color: #6AA4B0;
	display: block;
	
}
label {
	text-align: center;
	font-weight: 700;
}

input[type="submit"] {
	margin: 1rem 2.5rem;
	color: #222;
	font-weight: 700;

}

textarea{
    max-width: 100%;
}

input{
    max-width: 100%;
}

label ul {
    list-style-type: none;
}

/*Images*/
picture img {
    height: 14rem;
    border: 1px solid black;
    width: 18rem;
}

/*weather flexbox*/
.weather {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.weather-img {
    border: 1px solid black;
    box-shadow: 5px 5px #2B4560;
    margin-bottom: 10px;
}

/*Discover images*/
.discover-images {
    display: flex;
    gap: 30px;
    flex-direction: column;
    align-items: center;
}
.discover-images > * {
    border: 1px solid #2B4560;
    box-shadow: 3px 3px #2B4560;
    border-radius: 10px;
}
.discover-h1 {
    border: none;
    box-shadow: none;
}

.discover-images h2{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #2B4560;
}
[data-src]{
    min-width: 50px;
    min-width: 50px;
}
