@media only screen and (min-width: 55em) {
    /*SECTIONS*/
    .sections{
        display: grid;
        grid-template-columns: repeat(6, 1fr);
    }
    .event{
        grid-column: 1/ span 2;
    }
    .hero-and-call {
        grid-column: 2/ span 3;
        grid-row: 1/ span 2;
    }
    .spotlight {
        grid-column: 3/4;
        grid-row: 1/ span 3;
    }
    .news-release {
        grid-column: 2/3;
    }
    .join {
        grid-row: 3/4;
    }
    footer{
        grid-column: 1/ span 3;
        grid-row: 4/5
    }
    
    
    /*FORMS*/
    .form-box {
        display: flex;
    }
}


