@media only screen and (min-width: 55em) {
    /*sections*/
    .sections {
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(6, 1fr);
        gap: 5px    ;
    } 
    
    .hero-and-call {
        grid-column: 2/5;
        grid-row: 1/3;
    }
    .news-release {
        grid-column: 2/5;
        grid-row: 3/4;
    }
    .spotlight {
        grid-column: 5/6;
        grid-row: 1/4;
        display: flex;
        flex-direction: column;
    }
    .join {
        grid-column: 1/6;
        grid-row: 4/5;
    }
    .event {
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .weather {
        grid-column: 1/2;
        grid-row: 2/4;
    }
    #meetingBanner {
        grid-column: 1/4;
        grid-row: 4/5;
    }
    .footer-grid {
        grid-column: 1/6;
        grid-row: 5/ span 2;
    }
    
    
    /*FORMS*/
    .form-box {
        display: flex;
    }


    /*Images*/
    picture img {
        height: 14rem;
        border: 1px solid black;
    }


     /*Discover page*/
     .discover-images {
        display: grid;
        gap: 30px;
        grid-auto-rows: 22rem;
        grid-template-columns: repeat(auto-fill, minmax(100px, 300px));
    }
    .container {
        display: flex;
        flex-direction: column;
        justify-items: center;
        
    }
    .container:hover {
        box-shadow: 0 0 50px #333;
    }
}


