@media only screen and (min-width: 64em) {
    nav ul li a {
        padding: 0.5rem 1rem;
    }


    /*SECTIONS*/
    .sections {
        background-color: #2B4560;
        display: grid;
        grid-template-columns: 150px auto 150px;
        grid-template-rows: repeat(3, 150px);
        gap: 10px; 
    } 
    .sections > *{
        background-color: #6AA4B0;
        border: 1px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .hero-and-call {
        grid-column: 2/3;
        grid-row: 1/ span 2;
    }
    .spotlight {
        grid-column: 3/4;
        grid-row: 1/ span 3;
    }
    .news-release {
        grid-column: 2/3;
    }
    .join {
        grid-row: 3/4;
    }
    footer{
        grid-column: 1/ span 3;
        grid-row: 4/5
    }
    
    
    /*FORMS*/
    .form-box {
        display: flex;
    }
}


