@media only screen and (min-width: 39em) {
    /*sections*/
    .sections {
        grid-template-columns: repeat(6, 1fr);
    } 
    
    .hero-and-call {
        grid-column: 1/ span 6;
        grid-row: 1/ span 1;
    }
    .news-release {
        grid-column: 1/ span 6;
        grid-row: 2/ span 1;
    }
    .spotlight {
        grid-column: 1/ span 6;
        grid-row: 3/ span 1;
    }
    .join {
        grid-column: 1/ span 6;
        grid-row: 4/ span 1;
    }
    .event {
        grid-column: 1/ span 4;
        grid-row: 5/ span 1;
    }
    .weather {
        grid-column: 5/ span 2;
        grid-row: 5/ span 1;
    }
    .footer-grid {
        grid-column: 1/ span 6;
        grid-row: 6/ span 2;
    }
    #meetingBanner {
        grid-column: 1/ span 6;
        grid-row: 8/9;
    }


    
    header{
        display: flex;
    }
    
    nav ul#primaryNav {
        display: flex;
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    nav ul li a{
        color: #2B4560;
        font-family: 'Patua One', cursive;
        font-size: 0.75em;
    }

    
    nav button {display: none;}

    nav ul {
        display: flex;
    }
    nav.date {
        margin-left: 100px;
    }

    /*Images*/
    picture img {
        height: 80%;
        border: 1px solid black;
        width: 100%;
}

}
